.header{
    position: relative;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

/* .header::before{
    content: "";
    
    position: absolute;
    background: url("../../images/janko-ferlic-sfL_QOnmy00-unsplash.jpg") no-repeat center center/cover;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.3;
} */

.headerContent{
    
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding:  20px 100px; */
    color: black;
    word-wrap: break-word;
}

.h-primary{
    font-size: 3.8rem;
    text-align: center;
    padding-top: 10px;
}

.headerContent p{
    text-align: center;
    margin-top: 25px;
    font-size: 1.2rem;
}

.buttons{
    margin-top:20px;
    display: flex;
}

.topBarButton a{
    text-decoration: none;
    color:black;
}